<div class="row-fluid">
  <div class="span1">
    <div class="btn-group btn-group-vertical">
      <a class="btn" ng-click="addBox()">
        <i class="icon-plus icon-2x"></i>
      </a>
      <a class="btn" ng-click="deleteCurrentBox()">
        <i class="icon-trash icon-2x"></i>
      </a>
    </div>
  </div>
  <div class="span8">
    <svg surface ng-mouseDown="unSelect()" class="svg-drop" height="500px" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <!--<bounding-box model="boundingBox"></bounding-box>-->
      <rect ng-attr-x="{{boundingBox.box.x - 3}}" ng-attr-y="{{boundingBox.box.y - 3}}"
            ng-attr-width="{{boundingBox.box.width + 3}}" ng-attr-height="{{boundingBox.box.height + 3}}"
            stroke="red" fill="yellow" opacity="0.4"></rect>
      <g stroke="green" fill="grey" stroke-width="1" ng-repeat="box in boxes">
        <circle r="15"
                drag="box"
                ng-mouseDown="setActive(box, $event)"
                ng-attr-cx="{{box.x}}"
                ng-attr-cy="{{box.y}}"
                ng-attr-fill="{{box.color}}"
                ></circle>
        <circle stroke="#999999" fill="none" stroke-opacity="1" stroke-linecap="square" stroke-linejoin="miter" stroke-miterlimit="10" shape-rendering="optimizespeed"
                r="15"
                ng-if="box.shadow"
                ng-attr-cx="{{box.x}}"
                ng-attr-cy="{{box.y}}"
                ng-attr-transform="translate({{box.shadow.x}},{{box.shadow.y}})"
        ></circle>
      </g>
    </svg>
  </div>
  <div class="span3">
    <form ng-show="activeBox">
      <legend>box</legend>
      <label>
        x
        <input type="number" min="0" max="399" ng-model="activeBox.x"/>
      </label>
      <label>
        y
        <input type="number" min="0" max="399" ng-model="activeBox.y"/>
      </label>
      <label>
        Color
        <input type="text" ng-model="activeBox.color"/>
      </label>
    </form>
  </div>
</div>

