<div class="row-fluid">
  <div class="span1">
    <div class="btn-group btn-group-vertical">
      <a class="btn" ng-click="addBox()">
        <i class="icon-plus icon-2x"></i>
      </a>
      <a class="btn" ng-click="deleteCurrentBox()">
        <i class="icon-trash icon-2x"></i>
      </a>
    </div>
  </div>
  <div class="span8">
    <svg class="svg-drop" height="500px" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <!--<bounding-box model="boundingBox"></bounding-box>-->
      <g stroke="green" fill="grey" stroke-width="1">
        <circle boxable="boundingBox" cx="100" cy="50" r="15"></circle>
        <text x="120" y="54" ng-attr-stroke="blue">
          100, 50
        </text>
      </g>
      <rect x="82" y="32" width="38" height="35"
            stroke="red" fill="yellow" opacity="0.4"/>
    </svg>
  </div>
  <div class="span3">
    <form ng-show="activeBox">
      <legend>box</legend>
      <label>
        x
        <input type="number" min="0" max="399" ng-model="activeBox.x"/>
      </label>
      <label>
        y
        <input type="number" min="0" max="399" ng-model="activeBox.y"/>
      </label>
      <label>
        Color
        <input type="text" ng-model="activeBox.color"/>
      </label>
    </form>
  </div>
</div>

