html,
body {
    margin: 0;
    background: #eee;
}

/*.navbar {*/
/*width: 100%;*/
/*height: 50px;*/
/*margin-bottom: 0px;*/
/*float: top;*/
/*z-index:101;*/
/*}*/
/*.sidebar {*/
/*float: left;*/
/*padding: 15px 0 0 0;*/
/*width: 80px;*/
/*height: 92%;*/
/*background: #eeeeee;*/
/*}*/
.wrapper {
    margin: 67px 0;
    background: #eee;
    text-align: center;
    transition: margin-left 0.4s ease;
}

.wrapper.side-menu-open {
    margin-left: 355px;
}

.left-pill {
    position: absolute;
    left: 10px;
    margin: 5px 0px 0px 0px;
}

.drawing-surface {
    /*border: 1px solid #eee;*/
    background: #fff;
    margin: auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
}

.btn-text {
    overflow: hidden;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}

.HoverText {
    opacity: 0;
    margin-bottom: -50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14pt;
    line-height: 48px;
    margin-left: -6px;
}

.btn-text:hover .HoverText {
    opacity: 1;
    margin-bottom: -2px;
    margin-top: 2px;
}

.IconWrapper, .HoverText {
    transition: all 0.2s ease-in-out;
}

.btn-text:hover .IconWrapper {
    margin-top: -50px;
}

.sliding-menu {
    margin-top: -50px;
}

.btn-text:hover .sliding-menu {
    margin-top: 4px;
}

/* General styles for all menus */

.cbp-spmenu {
    background: #47a3da;
    position: fixed;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}

/*.cbp-spmenu h3 {*/
/*    color: #afdefa;*/
/*    font-size: 1.9em;*/
/*    padding: 20px;*/
/*    margin: 0;*/
/*font-weight: 300;*/
/*    background: #0d77b6;*/
/*}*/

.cbp-spmenu .spmenu-title {
    /*color: #afdefa;*/
    /*font-size: 1.9em;*/
    padding: 20px;
    margin: 0px;
    /*font-weight: 300;*/
    background: #0d77b6;
}

.spmenu-title h3 {
    color: #afdefa;
    font-size: 1.9em;
}

.spmenu-title .btn {
    margin: -10px 10px 0px 0px;
}

.spmenu-title .btn-text {
    width: 70px;
}

.spmenu-contents a {
    display: block;
    color: #fff;
    /*font-size: 2em;*/
    /*font-weight: 300;*/
}

.cbp-spmenu label {
    color: #fff;
}

.cbp-spmenu ul li {
    display: inline-block;
    color: #fff;
    /*font-size: 2em;*/
    /*font-weight: 300;*/
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    width: 340px;
    height: 100%;
    top: 0;
    z-index: 100;
}

.cbp-spmenu-vertical .spmenu-title {
    margin: 40px 0px 0px 0px;
}

.cbp-spmenu-vertical .spmenu-contents a {
    border-bottom: 1px solid #258ecd;
    padding: 1em;
}

/*.cbp-spmenu-horizontal {*/
/*  width: 100%;*/
/*  height: auto;*/
/*  left: 0;*/
/*  z-index: 100;*/
/*  overflow: hidden;*/
/*}*/

.cbp-spmenu-horizontal {
    width: 100%;
    height: auto;
    left: 0;
    z-index: 100;
    overflow: hidden;
    min-height: 140px;
}

/*.cbp-spmenu-horizontal h3 {*/
/*    height: 100%;*/
/*    width: 20%;*/
/*    float: left;*/
/*}*/

.cbp-spmenu-horizontal .spmenu-title {
    height: 100%;
    width: 20%;
    /*float: left;*/
    position: absolute;
    /*margin-left:20%;*/
    /*margin-right:20%;*/
    /*width:20%;*/
}

.spmenu-contents {
    margin-left: 20%;
}

.spmenu-contents-side {
    margin-top: 25px;
    width: 340px;
}

.spmenu-contents > a {
    float: left;
    /*width: 20%;*/
    /*padding: 0.8em;*/
    /*border-left: 1px solid #258ecd;*/
}

.spmenu-contents ul {
    padding: 0;
}

.spmenu-contents ul li {
    /*float: left;*/

    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}

/*.spmenu-contents-side a:not(.btn),*/
.spmenu-contents-side a:not(.select2-choice):not(.btn) {
    color: #ffbeba;
}

.cbp-spmenu-horizontal .btn {
    margin: 0.2em;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
    left: -410px;
}

.cbp-spmenu-right {
    right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
    top: -250px;
}

.cbp-spmenu-bottom {
    bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
    top: 62px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
    /*margin-top: 40px*/
}

/* Push classes applied to the body */

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.cbp-spmenu-push-toright {
    left: 240px;
}

.cbp-spmenu-push-toleft {
    left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    transition: all 0.4s ease;
}

/* Example media queries */

/*@media screen and (max-width: 55.1875em){*/

/*.cbp-spmenu-horizontal {*/
/*font-size: 75%;*/
/*height: 110px;*/
/*}*/

/*.cbp-spmenu-top {*/
/*top: -110px;*/
/*}*/

/*.cbp-spmenu-bottom {*/
/*bottom: -110px;*/
/*}*/

/*}*/

/*@media screen and (max-height: 26.375em){*/

/*.cbp-spmenu-vertical {*/
/*font-size: 90%;*/
/*width: 190px;*/
/*}*/

/*.cbp-spmenu-left,*/
/*.cbp-spmenu-push-toleft {*/
/*left: -190px;*/
/*}*/

/*.cbp-spmenu-right {*/
/*right: -190px;*/
/*}*/

/*.cbp-spmenu-push-toright {*/
/*left: 190px;*/
/*}*/
/*}*/

.behind-other-menus {
    z-index: 10;
}

.left-pill + .spmenu-title {
    margin: -50px 0px 0px 0px;
    padding: 7px 0px 6px 20px;
}

.svg-drop {
    border: 1px;
    background-color: rgb(245, 245, 245);
    box-shadow: 10px 10px 5px #888888;
    position: relative;
}

.canvas {
    background-image: url('../img/checker-bg.png');
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%
}

.move {
    cursor: move;
}

.nwse-resize {
    cursor: nwse-resize;
}

.nesw-resize {
    cursor: nesw-resize;
}

.demo-enter {
    -webkit-transition: all 1s linear;
    transition: all 1s linear;

    background: #000;
}

.demo-enter.demo-enter-active {
    background: #fc3;
}

.toolbar > div {
    display: inline-block;
}

.toolbar-icon {
    height: 31px;
    width: 31px;
}

.toolbar-submenu {
    min-width: 420px;
}

ul.inline > li {
    padding-top: 5px;
}

.svgOutline {
    display: inline-block;
    border-radius: 3px;
    background: #e9eaee;
    border: 1px solid lightgray;
    padding: 45px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.svgOutline > * {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

g.drawing {
    cursor: crosshair;
}

.modal {
    display: block;
}

/*   animations   */

/*.navbar-header > a.ng-hide {*/
/*animation: fadeIn 1s;*/
/*transition: all 0.2s ease-in-out;*/
/*}*/

/*.navbar-header > a.ng-hide {*/
/*animation: fadeOut 1s;*/
/*}*/

/*.navbar-header > a.ng-hide-add,*/
/*.navbar-header > a.ng-hide-remove {*/
/*-webkit-transition:0.5s linear all;*/
/*transition:0.5s linear all;*/

/*remember to add this */
/*display:inline-block!important;*/
/*opacity:1;*/
/*}*/
/*.navbar-header > a.ng-hide {*/
/*opacity:0;*/
/*}*/

/*.fader.ng-hide-add {*/
/*opacity: 0;*/
/*display: inline-block !important;*/
/*transition: fadeIn 1s;*/
/*}*/

/*.fader.ng-hide-remove {*/
/*opacity: 1;*/
/*display: inline-block !important;*/
/*transition: fadeOut 1s;*/
/*}*/

/*.fader.ng-hide-add-active {*/
/*opacity: 0;*/
/*}*/

.fader {
    transition: opacity 0.5s;
    opacity: 1;
}

.fader.ng-hide-add,
.fader.ng-hide-remove {
    display: inline-block !important;
}

.fader.ng-hide {
    opacity: 0;
}

.invisible {
    opacity: 0;
}

.editable-field-readonly {
    transition: box-shadow 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.editable-field-readonly:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    background: #e5e5e5;
    cursor: pointer;
    color: black;
}

.shape-submemu {
    display: block;
    height: 200px
}

@font-face {
    font-family: 'Code39Azalea';
    src: url(fonts/Code39Azalea.woff) format("woff")
}

/*makes ranges work correctly*/
input[type=range].form-control {
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

label.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.select2-wrapper {
    padding: 5px 0 0 0;
}

.select2-wrapper div {
    width: 100%;
}

.control-label .btn-sm {
    margin: -7px -2px 0px 0px;
}

/*fixes bug with color picker not on top of modal*/
.colorpicker {
    z-index: 1100;
}

/*fixes using form groups in panel titles*/
.panel-info .panel-title .form-control {
    color: #fff;
    background-color: transparent;
}

.panel-info .panel-title .form-group {
    margin-bottom: 0;
}

.panel-title .select2-container .select2-choice {
    line-height: normal;
}