<!doctype html>
<html ng-app="svgPoc"></html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- endbuild -->
</head>
<body class="container-fluid">

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Svg Poc</a>
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <!--<li><a href="#/route1">Route 1</a></li>-->
      <!--<li><a href="#/route2">Route 2</a></li>-->
    </ul>
  </div>
</div>

<!-- Add your site or application content here -->
<ng-view>

  <script src="components/angularjs-bower/angular.js"></script>
  <script src="components/angularjs-bower/angular-resource.js"></script>
  <script src="components/angularjs-bower/angular-cookies.js"></script>
  <script src="components/angularjs-bower/angular-sanitize.js"></script>
  <script src="components/ui-router/release/angular-ui-router.js"></script>

  <!-- build:js scripts/scripts.js -->
  <script src="modules/svgPoc/app.js"></script>
  <script src="modules/svgPoc/controllers.js"></script>
  <script src="modules/svgPoc/directives.js"></script>
  <script src="modules/svgPoc/services.js"></script>
  <!-- endbuild -->

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    var _gaq = [
      ['_setAccount', 'UA-XXXXX-X'],
      ['_trackPageview']
    ];
    (function (d, t) {
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
      g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s)
    }(document, 'script'));
  </script>
</body>
</html>
