<div class="left-pill">
  <a class="btn btn-primary btn-text" ng-click="$parent.sideMenuOpen = true">
    <div class="IconWrapper">
      <i class="fa fa-angle-right fa-3x"></i>
    </div>
    <div class="HoverText">Options</div>
  </a>
</div>


<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left behind-other-menus"
     ng-class="{'cbp-spmenu-open':$parent.sideMenuOpen}">
<div class="spmenu-title">
  <h3>
    {{selectedShape && !leftSubmenu ? 'Shape':''}} {{leftSubmenu}} Options
    <a class="btn btn-primary btn-text pull-right"
       ng-click="closeSideMenu()">
      <div class="IconWrapper">
        <i class="fa fa-angle-left fa-3x"></i>
      </div>
      <div class="HoverText">{{leftSubmenu ? ' Back' : 'Close'}}</div>
    </a>
  </h3>
</div>

<div class="spmenu-contents-side">
<div class="col-md-12">
<form ng-show="!selectedShape" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-md-5 control-label">
      <a href ng-click="$parent.zoom = 1">zoom: {{$parent.zoom}}</a>
    </label>

    <div class="col-md-7">
      <input class="form-control" type="range" ng-model="$parent.zoom" min="0.05" max="5" step="0.05">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-5 control-label">
      width: {{template.width}}
    </label>

    <div class="col-md-7">
      <input class="form-control" type="range" ng-model="template.width" min="10" max="1500" step="2">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-5 control-label">
      height: {{template.height}}
    </label>

    <div class="col-md-7">
      <input class="form-control" type="range" ng-model="template.height" min="10" max="1500" step="2">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-5 control-label">

    </label>

    <div class="col-md-7">
      <button ng-click="exportPdf()"
              class="btn btn-default">Create PDF</button>
    </div>
  </div>

</form>
<form ng-show="selectedShape && !leftSubmenu" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-md-5 control-label">
      <a href ng-click="openBindingsWindow(selectedShape, 'background')">
        Background <i class="fa fa-external-link-square"></i>
      </a>
    </label>

    <div class="col-md-7">
      <button class="btn btn-default"
              ng-style="{'background-color':selectedShape.model.backgroundColor}"
              colorpicker="rgba"
              colorpicker-fixed-position="true"
              ng-model="selectedShape.model.backgroundColor">
        <i class="fa fa-lg fa-tint"></i>
      </button>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">
      Border
    </label>

    <div class="col-md-7">
      <input class="form-control" type="range" ng-model="selectedShape.model.borderWidth" max="25">
    </div>

  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">
      <a href ng-click="openBindingsWindow(selectedShape, 'borderColor')">
        Border Color <i class="fa fa-external-link-square"></i>
      </a>
    </label>

    <div class="col-md-7">
      <button class="btn btn-default"
              ng-style="{'background-color':selectedShape.model.borderColor}"
              colorpicker="rgba"
              colorpicker-fixed-position="true"
              ng-model="selectedShape.model.borderColor">
        <i class="fa fa-lg fa-tint"></i>
      </button>

    </div>
  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">Font</label>

    <div class="col-md-7">
      <div class="select2-wrapper">
        <select ui-select2="{}" ng-model="selectedShape.model.font">
          <option ng-repeat="option in fontFamilyOptions" value="{{option.id}}">{{option.name}}</option>
        </select>
      </div>

    </div>
  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">Font Size</label>

    <div class="col-md-7">
      <div class="select2-wrapper">
        <select ui-select2="{}" ng-model="selectedShape.model.fontSize">
          <option ng-repeat="option in fontSizeOptions" value="{{option.id}}">{{option.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">
      <a href ng-click="openBindingsWindow(selectedShape, 'fontColor')">
        Font Color <i class="fa fa-external-link-square"></i>
      </a>
    </label>

    <div class="col-md-7">
      <button class="btn btn-default"
              ng-style="{'background-color':selectedShape.model.fontColor}"
              colorpicker="rgba"
              colorpicker-fixed-position="true"
              ng-model="selectedShape.model.fontColor">
        <i class="fa fa-lg fa-tint"></i>
      </button>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">Text Binding</label>

    <div class="col-md-6">
      <div class="select2-wrapper">
        <select ui-select2="{}" ng-model="selectedShape.model.fieldBindings.text.boundTo">
          <optgroup label="{{key}}" ng-repeat="(key,value) in vocabularyGroups">
            <option ng-repeat="item in value" value="{{item.field}}">{{item.field}}</option>
          </optgroup>
        </select>
      </div>
    </div>
    <div class="col-md-1">
      <!--not sure why I need this style hack-->
      <a style="margin-left:-9px"
         class="btn btn-default"
          ng-click="selectedShape.model.fieldBindings.text.boundTo = '' ">X</a>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">
      <a href ng-click="leftSubmenu = 'Image'">Image</a>
    </label>

    <div class="col-md-7">
      <input class="form-control" ng-model="selectedShape.model.image.url" debounce>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">Layering</label>

    <div class="col-md-7">
      <a class="btn btn-default"
         ng-class="{disabled:!canMoveUp(selectedShape)}"
         ng-click="moveToTop(selectedShape)">
        <i class="fa fa-lg fa-angle-double-up"></i>
      </a>
      <a class="btn btn-default"
         ng-class="{disabled:!canMoveUp(selectedShape)}"
         ng-click="moveUp(selectedShape)">
        <i class="fa fa-lg fa-angle-up"></i>
      </a>
      <a class="btn btn-default"
         ng-class="{disabled:!canMoveDown(selectedShape)}"
         ng-click="moveDown(selectedShape)">
        <i class="fa fa-lg fa-angle-down"></i>
      </a>
      <a class="btn btn-default"
         ng-class="{disabled:!canMoveDown(selectedShape)}"
         ng-click="moveToBottom(selectedShape)">
        <i class="fa fa-lg fa-angle-double-down"></i>
      </a>

    </div>
  </div>

  <div class="form-group">
    <label class="col-md-5 control-label">
      <a href
         ng-show="selectedShape.model.bevel.enabled"
         ng-click="leftSubmenu = 'Bevel'">
        Bevel
      </a>
      {{ selectedShape.model.bevel.enabled ? '' : 'Bevel'}}
    </label>

    <div class="col-md-7">
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="selectedShape.model.bevel.enabled"> Enabled
      </label>

    </div>
  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">
      <a href
         ng-show="selectedShape.model.blur.enabled"
         ng-click="leftSubmenu = 'Blur'">
        Blur
      </a>
      {{ selectedShape.model.blur.enabled ? '' : 'Blur'}}
    </label>

    <div class="col-md-7">
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="selectedShape.model.blur.enabled"> Enabled
      </label>

    </div>
  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">
      <a href
         ng-show="selectedShape.model.shadow.enabled"
         ng-click="leftSubmenu = 'Shadow'">
        Drop Shadow
      </a>
      {{ selectedShape.model.shadow.enabled ? '' : 'Drop Shadow'}}
    </label>

    <div class="col-md-7">
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="selectedShape.model.shadow.enabled"> Enabled
      </label>

    </div>
  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">Transparency</label>

    <div class="col-md-7">
      <input class="form-control" type="range" ng-model="selectedShape.model.transparency" min="0" max="1"
             step="0.01">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">

    </label>

    <div class="col-md-7">
      <button class="btn btn-primary"
              ng-click="copyCurrentShape()">
        <i class="fa fa-trash"></i> Copy Shape
      </button>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">

    </label>

    <div class="col-md-7">
      <a href ng-click="leftSubmenu = 'Delete'">Delete Shape</a>
    </div>
  </div>
  <!--<div class="form-group">-->
  <!--<label for="inputPassword3" class="col-md-2 control-label">Password</label>-->

  <!--<div class="col-md-10">-->
  <!--<input type="password" class="form-control" id="inputPassword3" placeholder="Password">-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--<div class="col-md-offset-2 col-md-10">-->
  <!--<div class="checkbox">-->
  <!--<label>-->
  <!--<input type="checkbox"> Remember me-->
  <!--</label>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--<div class="col-md-offset-2 col-md-10">-->
  <!--<button type="submit" class="btn btn-default">Sign in</button>-->
  <!--</div>-->
  <!--</div>-->
</form>
<form ng-show="leftSubmenu === 'Bevel'" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-md-5 control-label">Density</label>

    <div class="col-md-7">
      <input class="form-control" type="range" ng-model="selectedShape.model.bevel.density" min="0" max="6" step="0.2">
    </div>
  </div>
</form>
<form ng-show="leftSubmenu === 'Blur'" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-md-5 control-label">Density</label>

    <div class="col-md-7">
      <input class="form-control" type="range" ng-model="selectedShape.model.blur.density" min="0" max="12" step="0.2">
    </div>
  </div>
</form>
<form ng-show="leftSubmenu === 'Shadow'" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-md-5 control-label">Right</label>

    <div class="col-md-7">
      <input class="form-control" type="range" ng-model="selectedShape.model.shadow.offsetX" min="0" max="100">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">Bottom</label>

    <div class="col-md-7">
      <input class="form-control" type="range" ng-model="selectedShape.model.shadow.offsetY" min="0" max="100">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">Density</label>

    <div class="col-md-7">
      <input class="form-control" type="range" ng-model="selectedShape.model.shadow.density" min="0" max="20" step="0.2">
    </div>
  </div>
</form>

<form ng-show="leftSubmenu === 'Image'" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-md-5 control-label">
      <a href ng-click="openBindingsWindow(selectedShape, 'image')">
        Image Bindings <i class="fa fa-external-link-square"></i>
      </a>
    </label>
  </div>

  <div class="form-group">
    <label class="col-md-5 control-label">Url</label>

    <div class="col-md-7">
      <input ng-model="selectedShape.model.image.url">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-5 control-label">Placement/Size</label>

    <div class="col-md-7">
      <button class="btn btn-default">Edit image</button>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-5 control-label"></label>

    <div class="col-md-7">
      <button class="btn btn-primary">Remove Image</button>
    </div>
  </div>
</form>
<form ng-show="leftSubmenu === 'Delete'" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-md-5 control-label">Are you sure?</label>

    <div class="col-md-7">
      <button class="btn btn-primary"
              ng-click="deleteShape(selectedShape)">
        <i class="fa fa-trash-o"></i> Delete Shape
      </button>
    </div>
  </div>
</form>
</div>
</div>

</nav>
