<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#/templates/" class="btn btn-primary btn-text">
      <div class="IconWrapper">
        <i class="fa fa-caret-left fa-3x "></i>
      </div>
      <div class="HoverText">To list</div>
    </a>
    <a class="btn btn-primary btn-text"
       ng-mousedown="openMenu('showDrawMenu')"
       ng-disabled="dataMode">
      <div class="IconWrapper">
        <i class="fa fa-pencil fa-3x "></i>
      </div>
      <div class="HoverText">Draw <b class="caret"></b>
      </div>
    </a>
    <a class="btn btn-primary btn-text" ng-mousedown="openMenu('showSettingsMenu')">
      <div class="IconWrapper">
        <i class="fa fa-gear fa-3x "></i>
      </div>
      <div class="HoverText">Settings <b class="caret"></b></div>
    </a>
    <a class="btn btn-primary btn-text" ng-mousedown="openMenu('showDataMenu')">
      <div class="IconWrapper">
        <i class="fa fa-folder-o fa-3x"></i>
      </div>
      <div class="HoverText">Data <b class="caret"></b></div>
    </a>
    <a class="btn btn-primary btn-text fader"
       ng-mousedown="shapeMenuOpen($event, true)"
       ng-hide="!selectedShape">
      <div class="IconWrapper">
        <i class="fa fa-edit fa-3x"></i>
      </div>
      <div class="HoverText">Options <b class="caret"></b></div>
    </a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lifetouch <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#">Action</a>
        </li>
        <li>
          <a href="#">Another action</a>
        </li>
        <li>
          <a href="#">Something else here</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">Separated link</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top" ng-class="{ 'cbp-spmenu-open':showDrawMenu}">
  <div class="spmenu-title">
    <h3>Draw</h3>
    <input ng-model="drawSearch" class="form-control input-sm" type="text" placeholder="Search...">

  </div>
  <div class="spmenu-contents">
    <a href
       ng-repeat="shape in shapePaths | filter:drawSearch"
       class="btn btn-info"
       href
       ng-class="{active: isActiveShape(shape)}"
       ng-click="drawShape(shape)">
      <svg class="toolbar-icon">
        <path fill="white" ng-attr-d="{{shape.path}}"></path>
      </svg>
      {{shape.name}}
    </a></div>
</nav>
<nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top" ng-class="{ 'cbp-spmenu-open':showSettingsMenu}">
  <div class="spmenu-title">
    <h3>Settings</h3>
    <label ng-show="!editTemplateName" ng-click="editTemplateName = true">{{template.name}}</label>

    <div ng-show="editTemplateName" class="input-append">
      <input type="text" ng-show="editTemplateName" ng-model="template.name">
      <button class="btn btn-default" type="button" ng-click="editTemplateName = false">Done</button>
    </div>
  </div>
  <div class="spmenu-contents">
    <ul>
      <li>
        <label>
          Name:
          <!--<input type="text" ng-model="">-->
        </label>
      </li>
      <li>
        <label>
          <a href ng-click="zoom = 1">zoom: {{zoom}}</a>
          <input type="range" ng-model="zoom" min="0.05" max="5" step="0.05">
        </label>
      </li>
      <li>
        <label>
          width: {{template.width}}
        </label>
        <input type="range" ng-model="template.width" min="10" max="1500" step="2">
      </li>
      <li>
        <label>
          height: {{template.height}}
        </label>
        <input type="range" ng-model="template.height" min="10" max="1500" step="2">
      </li>
    </ul>
  </div>
</nav>

<nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top" ng-class="{ 'cbp-spmenu-open':showDataMenu}">
  <div class="spmenu-title">
    <h3>Data</h3>
  </div>
  <div class="spmenu-contents">
    <ul>
      <li ng-repeat="data in students">
        <a href ng-click="mergeData(data.id)">{{data.Student_First_Name}} {{data.Student_Last_Name}}</a>
      </li>
    </ul>
  </div>
</nav>

<div ng-show="showShapeMenu()"
     ng-style="{top: menuTop, left: menuLeft}"
     style="position: absolute;"
    >
  <menu-aim class="dropdown-menu" style="display:block; height:175px">
    <submenu-aim>
      <title-aim>Background</title-aim>
      <content-aim class="popover">
        <shape-options name="Background Color"
                       visible="selectedShape"
                       options="colorOptions"
                       selection="selectedShape.model.backgroundColor"></shape-options>

        <label>
          Image Url
          <input ng-model="selectedShape.model.image.url" debounce>
        </label>


        <a class="btn btn-default"
           ng-show="selectedShape.model.image.url"
           ng-click="selectedShape.showPreviewImage = !selectedShape.showPreviewImage">
          Edit Image
        </a>

        <a class="btn btn-default"
           ng-show="selectedShape.model.image.url"
           ng-click="selectedShape.model.image.url = null">
          Remove Image
        </a>
      </content-aim>
    </submenu-aim>
    <submenu-aim>
      <title-aim>Border</title-aim>
      <content-aim class="popover">
        <shape-options name="Border Color"
                       visible="selectedShape"
                       options="colorOptions"
                       selection="selectedShape.model.borderColor"></shape-options>
        <label>Border Size
          <input type="range" ng-model="selectedShape.model.borderWidth" max="25">
        </label>
      </content-aim>
    </submenu-aim>
    <submenu-aim>
      <title-aim>Text</title-aim>
      <content-aim class="popover">
        <shape-options name="Font"
                       visible="selectedShape"
                       options="fontFamilyOptions"
                       selection="selectedShape.model.font"></shape-options>
        <label>
          Font Size - {{ selectedShape.model.fontSize }}pt
        </label>
        <button ng-click="fontSize(-1)">-</button>
        <button ng-click="fontSize(1)">+</button>
        <input type="range" ng-model="selectedShape.model.fontSize" min="5.0" max="100" step="1"/>

        <shape-options name="Font Color"
                       visible="selectedShape"
                       options="colorOptions"
                       selection="selectedShape.model.fontColor"></shape-options>

      </content-aim>
    </submenu-aim>
    <submenu-aim>
      <title-aim>Shape</title-aim>
      <content-aim class="popover">
        <label>
          Template ID:
          <input ng-model="selectedShape.model.templateId">
        </label>
        <label>
          Text wraps around shape:
          <input type="checkbox" ng-model="selectedShape.model.wrapTextAround">
        </label>
        <a ng-click="copyCurrentShape()" class="btn btn-default">
          Copy (cmd + c)
        </a>
        <label>
          Transparency:
          <input type="range" ng-model="selectedShape.model.transparency" min="0" max="1" step="0.01">
        </label>
      </content-aim>
    </submenu-aim>
    <submenu-aim>
      <title-aim>Order</title-aim>
      <content-aim class="popover">
        <a ng-click="moveUp(selectedShape)" class="btn btn-default">
          Move Shape Up
        </a>
        <a ng-click="moveDown(selectedShape)" class="btn btn-default">
          Move Shape Down
        </a>
      </content-aim>
    </submenu-aim>
    <submenu-aim>
      <title-aim>Delete</title-aim>
      <content-aim class="popover">
        <a ng-click="deleteShape()" class="btn btn-warning">
          Click to Delete this shape
        </a>
      </content-aim>
    </submenu-aim>
  </menu-aim>
</div>

<div class="wrapper"
     ng-click-stop="unSelectShape()"
     ng-include="'modules/svgAbstraction/svgCanvas.html'">
</div>


<shape-text-editor text-value="selectedShape.model.text"
                   is-editing="selectedShape.isEditingText"
                   font-family="selectedShape.model.fontFamily"
                   font-size="selectedShape.model.fontSize"
                   top="{{selectedShape.top() + 40 || 0}}"
                   left="{{selectedShape.left() + 20 || 0}}"
                   width="{{selectedShape.width() || 0}}"
                   height="{{selectedShape.width() || 0}}"></shape-text-editor>