<button ng-click="addShape()">Add Shape</button>
<button ng-click="removeShape()">Remove Shape</button>


<button ng-click="increaseX()">Increase X</button>
<button ng-click="increaseY()">Decrease Y</button>

<ng-svg style="height: 600px">
  <shape top="shape.top"
         left="shape.left"
         mid-point-x="shape.middleX"
         mid-point-y="shape.middleY"
         d="shape.path"
         fill="shape.backgroundColor"
         stroke="shape.borderColor"
         stroke-width="shape.borderWidth"
         draggable="canDragShape(shape)"
         svg-element="shape.svgElement"
         when-click="setSelectedShape(shape)"
         ng-repeat="shape in shapes"
      ></shape>
  <selection-box shape="selectedShape"></selection-box>
</ng-svg>
