<svg version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
     svg-attr-viewbox="0 0 {{template.width}} {{template.height}}"
     width="{{template.width * zoom}}"
     height="{{template.height * zoom}}"
     ng-svg>
<!--empty rectangle as background for clicking-->
<rect ng-click="unSelectShape()"
      x="0" y="0" width="100%" height="100%" fill="white"></rect>

<defs id="paths">
  <clipPath ng-repeat="viewModel in shapes"
            id="{{viewModel.model.id + '_clipPath'}}"
            clipPathUnits="userSpaceOnUse">
    <path id="{{viewModel.model.id}}"
          stroke-width="{{viewModel.model.borderWidth}}"
          ng-attr-d="{{viewModel.model.path}}"></path>
  </clipPath>
</defs>
<g class="shapes">
  <g ng-repeat="viewModel in computedShapes() | objectOrderBy:'model.order'"
     ng-svg-shape
     ng-svg-draggable="$parent.canDragShape(shape)"
     opacity="{{viewModel.model.transparency}}"
     transform="translate({{viewModel.model.left}},{{viewModel.model.top}}), rotate({{viewModel.model.rotation}},{{viewModel.midPointX()}},{{viewModel.midPointY()}})">
    <!--shape-->
    <g class="shape">
      <use
          ng-href="{{'#' + viewModel.model.id}}"
          xlink:href="{{'#' + viewModel.model.id}}"
          fill="{{viewModel.model.backgroundColor}}"
          ng-mousedown="setSelectedShape(viewModel)"
          ng-dblclick="viewModel.isEditingText = true"
          class="{{viewModel.model.wrapTextAround ? '' : 'noTextWrap'}}"></use>
      <!--image mask-->
      <mask id="{{viewModel.model.id + '_previewImageMask'}}"
            ng-attr-x="{{viewModel.imageLeft()}}"
            ng-attr-y="{{viewModel.imageTop()}}"
            ng-attr-width="{{viewModel.imageWidth()}}"
            ng-attr-height="{{viewModel.imageHeight()}}"
            preserveAspectRatio="none"
            class="{{viewModel.model.wrapTextAround ? '' : 'noTextWrap'}}">
        <!--image preview mask rect-->
        <rect fill="white"
              opacity=".4"
              ng-attr-x="{{viewModel.imageLeft()}}"
              ng-attr-y="{{viewModel.imageTop()}}"
              ng-attr-width="{{viewModel.imageWidth()}}"
              ng-attr-height="{{viewModel.imageHeight()}}"
              preserveAspectRatio="none"
              class="{{viewModel.model.wrapTextAround ? '' : 'noTextWrap'}}"></rect>
      </mask>
      <!--image clipped by shape-->
      <g clip-path="url({{'#' + viewModel.model.id + '_clipPath'}})">
        <image xlink:href="{{viewModel.model.image.url}}"
               ng-mousedown="setSelectedShape(viewModel)"
               ng-dblclick="viewModel.isEditingText = true"
               transform="rotate(0,0,0)"
               ng-show="viewModel.model.image.url"
               ng-attr-x="{{viewModel.imageLeft()}}"
               ng-attr-y="{{viewModel.imageTop()}}"
               ng-attr-width="{{viewModel.imageWidth()}}"
               ng-attr-height="{{viewModel.imageHeight()}}"
               preserveAspectRatio="none"
               class="{{viewModel.model.wrapTextAround ? '' : 'noTextWrap'}}"></image>
      </g>
      <!-- full image -->
      <image xlink:href="{{viewModel.model.image.url}}"
             ng-attr-mask="url({{viewModel.urlRef('previewImageMask')}})"
             transform="rotate(0,0,0)"
             ng-show="viewModel.showPreviewImage"
             ng-attr-x="{{viewModel.imageLeft()}}"
             ng-attr-y="{{viewModel.imageTop()}}"
             ng-attr-width="{{viewModel.imageWidth()}}"
             ng-attr-height="{{viewModel.imageHeight()}}"
             preserveAspectRatio="none"
             class="{{viewModel.model.wrapTextAround ? '' : 'noTextWrap'}}"
             mask="url({{'#' + viewModel.model.id + '_previewImageMask'}})"></image>
      <!--shape outline-->
      <use xlink:href="{{'#' + viewModel.model.id}}"
           fill="none"
           stroke="black"
           stroke-width="2"
           ng-mousedown="setSelectedShape(viewModel)"
           ng-dblclick="viewModel.isEditingText = true"
           class="{{viewModel.model.wrapTextAround ? '' : 'noTextWrap'}}"></use>
    </g>
    <!--shape text-->
    <text x=""
          y=""
          opacity="1"
          font-family="{{viewModel.model.font}}"
          font-size="{{viewModel.model.fontSize}}"
          fill="{{viewModel.model.fontColor}}"
          ng-show="!viewModel.isEditingText"
          ng-mousedown="setSelectedShape(viewModel)"
          ng-dblclick="viewModel.isEditingText = true"
          ng-style="{cursor:'default'}"
          class="{{viewModel.model.wrapTextAround ? '' : 'noTextWrap'}}"
          ng-bind="viewModel.model.text"
          style="cursor: default;"></text>
  </g>
</g>
<!--Selection Box-->
<g selection-box class="selection">
  <g transform="translate({{selectedShape.left()}},{{selectedShape.top()}}), rotate({{selectedShape.model.rotation}},{{selectedShape.midPointX() + selectedShape.borderOffset()}},{{selectedShape.midPointY()  + selectedShape.borderOffset()}})"
     ng-show="selectedShape && !selectedShape.showPreviewImage"
     class="selection noTextWrap">
    <path
        ng-attr-d="M0,0L{{selectedShape ? selectedShape.width() + selectedShape.borderOffset() : 0}},0L{{selectedShape ? selectedShape.width()  + selectedShape.borderOffset() : 0}},{{selectedShape ? selectedShape.height()  + selectedShape.borderOffset() : 0}}L0,{{selectedShape ? selectedShape.height()  + selectedShape.borderOffset() : 0}}z"
        fill="none"
        fill-opacity="0.3"
        stroke-dasharray="5,5"
        stroke="#0096fd"
        stroke-width="2"
        class="noTextWrap"></path>
    <!--corners-->
    <circle cx="0"
            cy="0"
            r="5"
            data-cornerid="cornerNW"
            transform="translate(0,0)"
            class="corner noTextWrap"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            style="position: relative;"></circle>
    <circle cx="0"
            cy="0"
            r="5"
            data-cornerid="cornerNE"
            transform="translate({{selectedShape.width() + selectedShape.borderOffset()}},0)"
            class="corner noTextWrap"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            style="position: relative;"></circle>
    <circle cx="0"
            cy="0"
            r="5"
            data-cornerid="cornerSE"
            transform="translate({{selectedShape.width() + selectedShape.borderOffset()}},{{selectedShape.height() + selectedShape.borderOffset()}})"
            class="corner noTextWrap"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            style="position: relative;"></circle>
    <circle cx="0"
            cy="0"
            r="5"
            data-cornerid="cornerSW"
            transform="translate(0,{{selectedShape.height() + selectedShape.borderOffset()}})"
            class="corner noTextWrap"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            style="position: relative;"></circle>
    <!--rotator-->
    <line x1="0"
          y1="0"
          x2="0"
          y2="-20"
          stroke="#0096fd"
          stroke-width="3"
          transform="translate({{selectedShape.midPointX()}},0)"
          class="noTextWrap"></line>
    <circle cx="0"
            cy="0"
            r="5"
            data-cornerid="rotator"
            class="rotator noTextWrap"
            fill="#0096fd"
            stroke="white"
            stroke-width="1"
            transform="translate({{selectedShape.midPointX()}},-20)"
        ></circle>
  </g>
  <g transform="translate({{selectedShape.imageOutlineLeft()}},{{selectedShape.imageOutlineTop()}}), rotate({{selectedShape.imageOutlineRotation()}},{{selectedShape.imageMidPointX()}},{{selectedShape.imageMidPointY()}})"
     ng-show="selectedShape.showPreviewImage"
     class="imageSelection noTextWrap">
    <path
        ng-attr-d="M0,0L{{selectedShape ? selectedShape.imageWidth() : 0}},0L{{selectedShape ? selectedShape.imageWidth() : 0}},{{selectedShape ? selectedShape.imageHeight() : 0}}L0,{{selectedShape ? selectedShape.imageHeight() : 0}}z"
        fill="none"
        fill-opacity="0.3"
        stroke-dasharray="5,5"
        stroke="#0096fd"
        stroke-width="2"
        class="noTextWrap"></path>
    <circle cx="0"
            cy="0"
            r="5"
            class="corner"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            data-cornerid="cornerNW"
            transform="translate(0,0)"></circle>
    <circle cx="0"
            cy="0"
            r="5"
            class="corner"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            data-cornerid="cornerNE"
            transform="translate({{selectedShape.imageWidth()}},0)"></circle>
    <circle cx="0"
            cy="0"
            r="5"
            class="corner"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            data-cornerid="cornerSE"
            transform="translate({{selectedShape.imageWidth()}},{{selectedShape.imageHeight()}})"></circle>
    <circle cx="0"
            cy="0"
            r="5"
            class="corner"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            data-cornerid="cornerSW"
            transform="translate(0,{{selectedShape.imageHeight()}})"></circle>
    <line x1="0"
          y1="0"
          x2="0"
          y2="-20"
          stroke="#0096fd"
          stroke-width="3"
          transform="translate({{selectedShape.imageMidPointX()}},0)"></line>
    <circle cx="0"
            cy="0"
            r="5"
            class="rotator"
            fill="#FFFFFF"
            stroke-width="1"
            stroke="#0096fd"
            data-cornerid="rotator"
            transform="translate({{selectedShape.imageMidPointX()}},-20)"></circle>
  </g>
</g>
<g class="drawing">
  <g drawing-surface
     when-done="shapeDrawn(shape);"
     ng-show="$parent.isDrawing()"
     shape="$parent.shapeType()">
    <rect x="0"
          y="0"
          width="100%"
          height="100%"
          fill="white"
          fill-opacity="0"></rect>
    <rect fill="none"
          stroke="#0096fd"
          stroke-width="2"
          stroke-dasharray="5,5"
          ng-attr-x="{{x}}"
          ng-attr-y="{{y}}"
          ng-attr-width="{{width}}"
          ng-attr-height="{{height}}"></rect>
  </g>
</g>
</svg>

