<svg version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
     class="drawing-surface"
     svg-attr-viewbox="0 0 {{template.width}} {{template.height}}"
     ng-attr-width="{{template.width * zoom}}"
     ng-attr-height="{{template.height * zoom}}"
     ng-svg>

<!--empty rectangle as background for clicking-->
<rect ng-click="unSelectShape()"
      x="0" y="0" width="100%" height="100%" fill="white"></rect>

<defs ng-repeat="viewModel in shapes">

  <!--shape clip path-->
  <clipPath id="{{viewModel.model.id + '_clipPath'}}"
            clipPathUnits="userSpaceOnUse">
    <path id="{{viewModel.model.id}}"
          stroke-width="{{viewModel.model.borderWidth}}"
          ng-attr-d="{{viewModel.model.path}}"></path>
  </clipPath>

  <filter id="Bevel" filterUnits="objectBoundingBox" x="-10%" y="-10%" width="150%" height="150%">
    <feGaussianBlur in="SourceAlpha" stdDeviation="0.5" result="blur"/>
    <feSpecularLighting in="blur" surfaceScale="5" specularConstant="0.5" specularExponent="10" result="specOut"
                        lighting-color="white">
      <fePointLight x="-5000" y="-10000" z="20000"/>
    </feSpecularLighting>
    <feComposite in="specOut" in2="SourceAlpha" operator="in" result="specOut2"/>
    <feComposite in="SourceGraphic" in2="specOut2" operator="arithmetic" k1="0" k2="1" k3="1" k4="0" result="litPaint"/>
  </filter>

  <filter id="{{viewModel.model.id + '_combinedFilter'}}"
          filterUnits="objectBoundingBox" x="-10%" y="-10%" width="150%" height="150%">

    <!--copy of source graphic-->
    <feColorMatrix type="matrix" in="SourceGraphic" result="endResult"
                   values="1 0 0 0 0
                            0 1 0 0 0
                            0 0 1 0 0
                            0 0 0 1 0"/>

    <!--bevel-->
    <feGaussianBlur ng-if="viewModel.model.bevel.enabled"
                    in="SourceAlpha" svg-attr-stddeviation="{{viewModel.model.bevel.density}}" result="blur"/>
    <feSpecularLighting ng-if="viewModel.model.bevel.enabled"
                        in="blur"
                        surfaceScale="5" specularConstant="0.5" specularExponent="10"
                        lighting-color="white"
                        result="specOut">
      <fePointLight x="-5000" y="-10000" z="20000"/>
    </feSpecularLighting>
    <feComposite ng-if="viewModel.model.bevel.enabled"
                 in="specOut" in2="SourceAlpha" operator="in" result="specOut2"/>
    <feComposite ng-if="viewModel.model.bevel.enabled"
                 in="endResult" in2="specOut2"
                 operator="arithmetic" k1="0" k2="1" k3="1" k4="0"
                 result="endResult"/>

    <!--blur-->
    <feGaussianBlur ng-if="viewModel.model.blur.enabled"
                    in="endResult"
                    svg-attr-stddeviation="{{viewModel.model.blur.density}}"
                    result="endResult"/>

    <!--shadow-->
    <feOffset ng-if="viewModel.model.shadow.enabled"
              result="offOut" in="SourceAlpha"
              dx="{{viewModel.model.shadow.offsetX}}"
              dy="{{viewModel.model.shadow.offsetY}}"/>
    <feGaussianBlur ng-if="viewModel.model.shadow.enabled"
                    result="blurOut" in="offOut" svg-attr-stddeviation="{{viewModel.model.shadow.density}}"/>
    <feBlend ng-if="viewModel.model.shadow.enabled"
             in="endResult" in2="blurOut" mode="normal"/>
  </filter>
</defs>

<g class="shapes">
  <g ng-repeat="viewModel in computedShapes() | objectOrderBy:'model.order'"
     ng-svg-shape
     opacity="{{viewModel.model.transparency}}"
     transform="translate({{viewModel.model.left}},{{viewModel.model.top}}), rotate({{viewModel.model.rotation}},{{viewModel.midPointX()}},{{viewModel.midPointY()}})"
     filter="url({{viewModel.filterId()}})">
    <!--shape-->
    <g class="shape">
      <use
          ng-href="{{'#' + viewModel.model.id}}"
          xlink:href="{{'#' + viewModel.model.id}}"
          fill="{{viewModel.model.backgroundColor}}"
          ng-mousedown="shapeClick(viewModel)"
          ng-rightclick="shapeMenuOpen($event)"
          ng-dblclick="viewModel.isEditingText = true"
          ng-class="{noTextWrap: viewModel.model.wrapTextAround}"></use>
      <!--image mask-->
      <mask id="{{viewModel.model.id + '_previewImageMask'}}"
            ng-attr-x="{{viewModel.imageLeft()}}"
            ng-attr-y="{{viewModel.imageTop()}}"
            ng-attr-width="{{viewModel.imageWidth()}}"
            ng-attr-height="{{viewModel.imageHeight()}}"
            preserveAspectRatio="none"
            ng-class="{noTextWrap: viewModel.model.wrapTextAround}">
        <!--image preview mask rect-->
        <rect fill="white"
              opacity=".4"
              ng-attr-x="{{viewModel.imageLeft()}}"
              ng-attr-y="{{viewModel.imageTop()}}"
              ng-attr-width="{{viewModel.imageWidth()}}"
              ng-attr-height="{{viewModel.imageHeight()}}"
              preserveAspectRatio="none"
              ng-class="{noTextWrap: viewModel.model.wrapTextAround}"></rect>
      </mask>
      <!--image clipped by shape-->
      <g ng-if="viewModel.model.image.url"
         clip-path="url({{'#' + viewModel.model.id + '_clipPath'}})">
        <image xlink:href="{{viewModel.model.image.url}}"
               ng-mousedown="shapeClick(viewModel)"
               ng-rightclick="shapeMenuOpen($event)"
               ng-dblclick="viewModel.isEditingText = true"
               transform="rotate({{viewModel.model.image.rotation}},{{viewModel.imageMidPointX() + viewModel.imageLeft()}},{{viewModel.imageMidPointY() + viewModel.imageTop()}})"
               ng-show="viewModel.model.image.url"
               ng-attr-x="{{viewModel.imageLeft()}}"
               ng-attr-y="{{viewModel.imageTop()}}"
               ng-attr-width="{{viewModel.imageWidth()}}"
               ng-attr-height="{{viewModel.imageHeight()}}"
               preserveAspectRatio="none"
               ng-class="{noTextWrap: viewModel.model.wrapTextAround}"></image>
      </g>
      <!-- full image -->
      <image ng-if="viewModel.model.image.url"
             xlink:href="{{viewModel.model.image.url}}"
             ng-attr-mask="url({{viewModel.urlRef('previewImageMask')}})"
             transform="rotate({{viewModel.model.image.rotation}},{{viewModel.imageMidPointX() + viewModel.imageLeft()}},{{viewModel.imageMidPointY() + viewModel.imageTop()}})"
             ng-show="viewModel.showPreviewImage"
             ng-attr-x="{{viewModel.imageLeft()}}"
             ng-attr-y="{{viewModel.imageTop()}}"
             ng-attr-width="{{viewModel.imageWidth()}}"
             ng-attr-height="{{viewModel.imageHeight()}}"
             preserveAspectRatio="none"
             ng-class="{noTextWrap: viewModel.model.wrapTextAround}"
             mask="url({{'#' + viewModel.model.id + '_previewImageMask'}})"></image>
      <!--shape outline-->
      <use xlink:href="{{'#' + viewModel.model.id}}"
           fill="none"
           stroke="{{viewModel.model.borderColor}}"
           stroke-width="{{viewModel.model.borderWidth}}"
           ng-mousedown="shapeClick(viewModel)"
           ng-rightclick="shapeMenuOpen($event)"
           ng-dblclick="viewModel.isEditingText = true"
           ng-class="{noTextWrap: viewModel.model.wrapTextAround}"></use>
    </g>
    <!--shape text-->
    <text x=""
          y=""
          opacity="1"
          font-family="{{viewModel.model.font}}"
          font-size="{{viewModel.model.fontSize}}"
          fill="{{viewModel.model.fontColor}}"
          ng-show="!viewModel.isEditingText"
          ng-mousedown="shapeClick(viewModel)"
          ng-rightclick="shapeMenuOpen($event)"
          ng-dblclick="viewModel.isEditingText = true"
          ng-style="{cursor:'default'}"
          ng-class="{noTextWrap: viewModel.model.wrapTextAround}"
          ng-bind="viewModel.model.text"
          style="cursor: default;"></text>
  </g>
</g>
<!--Selection Box-->
<g ng-if="shadowShape"
   selection-box
   class="selection">

  <!--shadow shape-->
  <path
      ng-svg-draggable="$parent.canDragShape(selectedShape)"
      transform="translate({{shadowShape.model.left}},{{shadowShape.model.top}}), rotate({{shadowShape.model.rotation}},{{shadowShape.midPointX()}},{{shadowShape.midPointY()}})"
      ng-attr-d="{{shadowShape.model.path}}"
      fill="white"
      ng-dblclick="selectedShape.isEditingText = true"
      fill-opacity="{{shadowShape.isDragging || shadowShape.isResizing ? '0.8' : '0'}}"
      stroke="black"
      stroke-width="2"
      class="shadowShape noTextWrap"></path>

  <g transform="translate({{shadowShape.left()}},{{shadowShape.top()}}), rotate({{shadowShape.model.rotation}},{{shadowShape.midPointX() + shadowShape.borderOffset()}},{{shadowShape.midPointY() + shadowShape.borderOffset()}})"
     ng-show="shadowShape && !shadowShape.showPreviewImage"
     class="selection noTextWrap">

    <!--box path-->
    <path
        ng-attr-d="M0,0L{{shadowShape.width() + shadowShape.borderOffset()}},0L{{shadowShape.width()  + shadowShape.borderOffset()}},{{shadowShape.height()  + shadowShape.borderOffset()}}L0,{{shadowShape.height() + shadowShape.borderOffset()}}z"
        fill="none"
        fill-opacity="0.3"
        stroke-dasharray="5,5"
        stroke="#0096fd"
        stroke-width="2"
        class="noTextWrap"></path>
    <!--corners-->
    <circle cx="0"
            cy="0"
            r="5"
            data-cornerid="cornerNW"
            transform="translate(0,0)"
            class="corner noTextWrap"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            style="position: relative;"></circle>
    <circle cx="0"
            cy="0"
            r="5"
            data-cornerid="cornerNE"
            transform="translate({{shadowShape.width() + shadowShape.borderOffset()}},0)"
            class="corner noTextWrap"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            style="position: relative;"></circle>
    <circle cx="0"
            cy="0"
            r="5"
            data-cornerid="cornerSE"
            transform="translate({{shadowShape.width() + shadowShape.borderOffset()}},{{shadowShape.height() + shadowShape.borderOffset()}})"
            class="corner noTextWrap"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            style="position: relative;"></circle>
    <circle cx="0"
            cy="0"
            r="5"
            data-cornerid="cornerSW"
            transform="translate(0,{{shadowShape.height() + shadowShape.borderOffset()}})"
            class="corner noTextWrap"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            style="position: relative;"></circle>
    <!--rotator-->
    <line x1="0"
          y1="0"
          x2="0"
          y2="-20"
          stroke="#0096fd"
          stroke-width="3"
          transform="translate({{shadowShape.midPointX() + shadowShape.borderOffset()}},0)"
          class="noTextWrap"></line>
    <circle cx="0"
            cy="0"
            r="5"
            data-cornerid="rotator"
            class="rotator noTextWrap"
            fill="#0096fd"
            stroke="white"
            stroke-width="1"
            transform="translate({{shadowShape.midPointX() + shadowShape.borderOffset()}},-20)"
        ></circle>
  </g>
  <g transform="translate({{shadowShape.imageOutlineLeft()}},{{shadowShape.imageOutlineTop()}}), rotate({{shadowShape.imageOutlineRotation()}},{{shadowShape.imageMidPointX()}},{{shadowShape.imageMidPointY()}})"
     ng-show="shadowShape.showPreviewImage"
     class="imageSelection noTextWrap">
    <path
        ng-attr-d="M0,0L{{shadowShape ? shadowShape.imageWidth() : 0}},0L{{shadowShape ? shadowShape.imageWidth() : 0}},{{shadowShape ? shadowShape.imageHeight() : 0}}L0,{{shadowShape ? shadowShape.imageHeight() : 0}}z"
        fill="none"
        fill-opacity="0.3"
        stroke-dasharray="5,5"
        stroke="#0096fd"
        stroke-width="2"
        class="noTextWrap"></path>
    <circle cx="0"
            cy="0"
            r="5"
            class="corner"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            data-cornerid="cornerNW"
            transform="translate(0,0)"></circle>
    <circle cx="0"
            cy="0"
            r="5"
            class="corner"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            data-cornerid="cornerNE"
            transform="translate({{shadowShape.imageWidth()}},0)"></circle>
    <circle cx="0"
            cy="0"
            r="5"
            class="corner"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            data-cornerid="cornerSE"
            transform="translate({{shadowShape.imageWidth()}},{{shadowShape.imageHeight()}})"></circle>
    <circle cx="0"
            cy="0"
            r="5"
            class="corner"
            fill="#0096fd"
            stroke-width="1"
            stroke="white"
            data-cornerid="cornerSW"
            transform="translate(0,{{shadowShape.imageHeight()}})"></circle>
    <line x1="0"
          y1="0"
          x2="0"
          y2="-20"
          stroke="#0096fd"
          stroke-width="3"
          transform="translate({{shadowShape.imageMidPointX()}},0)"></line>
    <circle cx="0"
            cy="0"
            r="5"
            class="rotator"
            fill="#FFFFFF"
            stroke-width="1"
            stroke="#0096fd"
            data-cornerid="rotator"
            transform="translate({{shadowShape.imageMidPointX()}},-20)"></circle>
  </g>
</g>
<g class="drawing">
  <g drawing-surface
     when-done="shapeDrawn(shape);"
     ng-show="$parent.isDrawing()"
     shape="$parent.shapeType()">
    <rect x="0"
          y="0"
          width="100%"
          height="100%"
          fill="white"
          fill-opacity="0"></rect>
    <rect fill="none"
          stroke="#0096fd"
          stroke-width="2"
          stroke-dasharray="5,5"
          ng-attr-x="{{x}}"
          ng-attr-y="{{y}}"
          ng-attr-width="{{width}}"
          ng-attr-height="{{height}}"></rect>
  </g>
</g>
<!--<text x="50" y="200" fill="blue" font-family="Times New Roman" font-size="64" filter="url(#Bevel)">-->
<!--hello world-->
<!--</text>-->
</svg>

