<div ng-show="showShapeMenu()"
     ng-style="{top: menuTop, left: menuLeft}"
     style="position: absolute;"
    >
  <menu-aim class="dropdown-menu shape-submemu">
    <submenu-aim>
      <title-aim>Background</title-aim>
      <content-aim class="popover">

        <label>
        Background Color
          <input colorpicker="rgba" class="span2" type="text" ng-model="selectedShape.model.backgroundColor" />
        </label>

        <label>
          Image Url
          <input ng-model="selectedShape.model.image.url" debounce>
        </label>

        <a class="btn btn-default"
           ng-show="selectedShape.model.image.url"
           ng-click="selectedShape.showPreviewImage = !selectedShape.showPreviewImage">
          Edit Image
        </a>

        <a class="btn btn-default"
           ng-show="selectedShape.model.image.url"
           ng-click="selectedShape.model.image.url = null">
          Remove Image
        </a>
      </content-aim>
    </submenu-aim>
    <submenu-aim>
      <title-aim>Shadow</title-aim>
      <content-aim class="popover">
        <label>
          Shadow:
          <input type="checkbox" ng-model="selectedShape.model.shadow.enabled">
        </label>

        <div ng-show="selectedShape.model.shadow.enabled">
          <label>
            Right:
            <input type="range" ng-model="selectedShape.model.shadow.offsetX" min="0" max="100">
          </label>
          <label>
            Bottom:
            <input type="range" ng-model="selectedShape.model.shadow.offsetY" min="0" max="100">
          </label>
          <label>
            Density:
            <input type="range" ng-model="selectedShape.model.shadow.density" min="0" max="100">
          </label>
        </div>
      </content-aim>
    </submenu-aim>
    <submenu-aim>
      <title-aim>Border</title-aim>
      <content-aim class="popover">
        <label>
          Border Color
          <input colorpicker="rgba" class="span2" type="text" ng-model="selectedShape.model.borderColor" />
        </label>
        <label>Border Size
          <input type="range" ng-model="selectedShape.model.borderWidth" max="25">
        </label>
      </content-aim>
    </submenu-aim>
    <submenu-aim>
      <title-aim>Text</title-aim>
      <content-aim class="popover">
        <button class="btn btn-default"
                ng-click="selectedShape.isEditingText = true">
          Edit Text (double click)
        </button>
        <shape-options name="Font"
                       visible="selectedShape"
                       options="fontFamilyOptions"
                       selection="selectedShape.model.font"></shape-options>
        <label>
          Font Size - {{ selectedShape.model.fontSize }}pt
        </label>
        <button ng-click="fontSize(-1)">-</button>
        <button ng-click="fontSize(1)">+</button>
        <input type="range" ng-model="selectedShape.model.fontSize" min="5.0" max="100" step="1"/>

        <label>
          Font Color
          <input colorpicker="rgba" class="span2" type="text" ng-model="selectedShape.model.fontColor" />
        </label>
      </content-aim>
    </submenu-aim>
    <submenu-aim>
      <title-aim>Shape</title-aim>
      <content-aim class="popover">
        <label>
          Template ID:
          <input ng-model="selectedShape.model.templateId">
        </label>
        <label>
          Text wraps around shape:
          <input type="checkbox" ng-model="selectedShape.model.wrapTextAround">
        </label>
        <a ng-click="copyCurrentShape()" class="btn btn-default">
          Copy (cmd + c)
        </a>
        <label>
          Transparency:
          <input type="range" ng-model="selectedShape.model.transparency" min="0" max="1" step="0.01">
        </label>
      </content-aim>
    </submenu-aim>
    <submenu-aim>
      <title-aim>Order</title-aim>
      <content-aim class="popover">
        <a ng-click="moveUp(selectedShape)" class="btn btn-default">
          Move Shape Up
        </a>
        <a ng-click="moveDown(selectedShape)" class="btn btn-default">
          Move Shape Down
        </a>
      </content-aim>
    </submenu-aim>
    <submenu-aim>
      <title-aim>Delete</title-aim>
      <content-aim class="popover">
        <a ng-click="deleteShape()" class="btn btn-warning">
          Click to Delete this shape
        </a>
      </content-aim>
    </submenu-aim>
  </menu-aim>
</div>