
<!--<div class="modal fade">-->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{isNew ? 'Add' : 'Edit'}} Template Type</h4>
      </div>
      <div class="modal-body">
        <form>
          <label>
            Name
            <input ng-model="templateType.name">
          </label>
          <label>
            Required Fields
            <input disabled ng-model="templateType.requiredFields">
          </label>
          <label>
            Optional Fields
            <input disabled ng-model="templateType.optionalFields">
          </label>
          <label>
            Mock Data
            <input disabled>
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info" ng-click="save()">{{isNew ? 'Add' : 'Done'}} </button>
        <button ng-disabled="!isNew" class="btn btn-default" ng-click="cancel(isNew)">{{isNew ? 'Cancel' : 'Undo'}} </button>
      </div>
    </div>
  </div>
<!--</div>-->