<div class="svg-drop">
  <floating-text-editor text-value="textValue" is-editing="isEditingText"></floating-text-editor>
  <svg-sketchpad></svg-sketchpad>
</div>

<div class="row">
  <span class="drawOpt"><button type="button" id="undo">Undo</button></span>
  <span class="drawOpt"><button type="button" id="clear2">Clear</button></span>
  <span class="drawOpt"><button type="button" id="toSVG">To SVG</button></span>
  <a class="btn" ng-click="isDrawing = !isDrawing">
    <i ng-class="{'icon-check': isDrawing, 'icon-check-empty': !isDrawing}"></i>
    Draw
  </a>
  <a class="btn" ng-show="shape" ng-click="isEditingText = !isEditingText">
    <i ng-class="{'icon-check': isEditingText, 'icon-check-empty': !isEditingText}"></i>
    Edit Text
  </a>
</div>

<div class="well well-large">
  <div class="row">
    <div class="span4"></div>
    <label>
      Shape
      <select ng-model="selectedShape"
              ng-options="shape.id as shape.name for shape in shapeOptions"></select>
    </label>

    <label>
      Fill
      <select ng-model="selectedFill"
              ng-options="color.id as color.name for color in colorOptions"></select>
    </label>
  </div>
  <div class="row">
    <label>
      Stroke width
      <select ng-model="selectedStrokeWidth"
              ng-options="size.id as size.name for size in strokeWidthOptions"></select>
    </label>

    <label>
      Fill
      <select ng-model="selectedStrokeColor"
              ng-options="color.id as color.name for color in colorOptions"></select>
    </label>
  </div>
</div>



<!--<div collapse="!isEditingText">-->
  <!--<div class="well well-large">-->
    <!--<div class="row">-->
      <!--<label>Text-->
        <!--<textarea class="input-xxlarge" ng-model="textValue"></textarea>-->
      <!--</label>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->