<div class="svg-drop">
  <svg-sketchpad></svg-sketchpad>
</div>

<div class="row">
  <span class="drawOpt"><button type="button" id="undo">Undo</button></span>
  <span class="drawOpt"><button type="button" id="clear2">Clear</button></span>
  <span class="drawOpt"><button type="button" id="toSVG">To SVG</button></span>
  <a class="btn" ng-click="isDrawing = !isDrawing">
    <i ng-class="{'icon-check': isDrawing, 'icon-check-empty': !isDrawing}"></i>
    Draw
  </a>
</div>

<div collapse="!isDrawing">
  <div class="well well-large">
    <div class="row">
      <div class="span4"></div>
      <label>
        Shape
        <select ng-model="selectedShape"
                ng-options="shape.id as shape.name for shape in shapeOptions"></select>
      </label>

      <label>
        Fill
        <select ng-model="selectedFill"
                ng-options="color.id as color.name for color in colorOptions"></select>
      </label>
    </div>
    <div class="row">
      <label>
        Stroke width
        <select ng-model="selectedStrokeWidth"
                ng-options="size.id as size.name for size in strokeWidthOptions"></select>
      </label>

      <label>
        Fill
        <select ng-model="selectedStrokeColor"
                ng-options="color.id as color.name for color in colorOptions"></select>
      </label>
    </div>
  </div>
</div>

<div collapse="!shape">
  <div class="well well-large row">
    <label>Text
      <textarea ng-model="textValue"></textarea>
    </label>
  </div>
</div>